
<div class="container">

  <h4>Add Question</h4>
  
<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

  <div class="row">
    <div class="col s12">
        <div class="row">
          <div class="input-field col s11 form-group">
            <input id="question" type="text" formControlName="question">
            <label for="question">Question</label>
          </div>
        <!--<small *ngIf="!myForm.controls.question.valid" class="text-danger">
                question is required (minimum 5 characters).
        </small>-->
        </div>

        <div>
            <input type="text" formControlName="correctAnswer" [ngModel]="correctAnswerIdx" [hidden]="false">
        </div>

        <div formArrayName="answers" class="row">
          <div *ngFor="let address of myForm.controls.answers.controls; let i=index" class="answerRow clearfix">
            
            <div class="input-field col s10 form-group">
              <!--<span>Answers {{i + 1}}</span>-->
              <span *ngIf="myForm.controls.answers.controls.length > 2" (click)="removeAnswer(i)" class="remove"> 
                  X
                </span>

            <div [formGroupName]="i">
              <div>
                <label>Answer</label>
                <input type="text" formControlName="answer">
                <small [hidden]="myForm.controls.answers.controls[i].controls.answer.valid">
                      Answer is required
                </small>


              </div>
            </div>
          </div>
          <div class="input-field col s1 push-s1  form-group">
                <span href="#" (click)="setCorrectAnswer(i)">
                    <i class="material-icons dp48 isCorrect">done</i>
                    <i class="material-icons dp48 isIncorret">highlight_off</i>
                </span>
          </div>
          </div>
        </div>
        <div class="row">
          <div>
            <a (click)="addAnswer()" style="cursor: default"> Add another answer +</a>
          </div>
        </div>
        </div>   
        <button class="btn waves-effect waves-light blue darken-3" type="submit" [disabled]="!myForm.valid">Submit
            <i class="material-icons right">send</i>
        </button>        
            
    </div>

    <div class="row">

    </div>
</form>
</div>