<!-- app.component.html -->
<div class="container">
  <h4>Add Question</h4>
  <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <!-- we will place our fields here -->

    <!-- name -->
    <div class="form-group">
      <label>Question</label>
      <input type="text" formControlName="question">
      <!--display error message if name is not valid-->
      <small *ngIf="!myForm.controls.question.valid" class="text-danger">
                question is required (minimum 5 characters).
        </small>
    </div>

    <!-- list of answers -->
    <div formArrayName="answers">
      <div *ngFor="let address of myForm.controls.answers.controls; let i=index">
        <!-- address header, show remove button when more than one address available -->
        <div>
          <span>Answers {{i + 1}}</span>
          <span *ngIf="myForm.controls.answers.controls.length > 2" (click)="removeAnswer(i)">XX</span>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <!--answer-->
          <div>
            <label>answer</label>
            <input type="text" formControlName="answer">
            <!--display error message if answer is not valid-->
            <small [hidden]="myForm.controls.answers.controls[i].controls.answer.valid">
                            Answer is required
            </small>
          </div>
          <!--postcode-->
          <div>
            <label>Corret</label>
            <input type="radio" formControlName="correct" name="correct" [checked]="i === 0" [value]="i">
          </div>
        </div>
      </div>
    </div>
    <div>
      <a (click)="addAnswer()" style="cursor: default"> Add another answer +</a>
    </div>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>
</div>